@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
body{
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column */;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
nav{
  position: fixed;
  justify-content:center;
  font-size: 15px;
  align-items: center;
}
.container{
  /* text-align: center;
  justify-content: center; */
}
.container img{
  width: 520px;
  border-radius: 5px;
  
}

.gradiente{
  background-image: linear-gradient(to right, rgb(219, 247, 65), rgb(7, 163, 111), rgb(5, 95, 168));
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  font-family: 'Special Elite', cursive;
  font-weight: 800;
  text-align: center;
  justify-content: center;
}
.filmes, h3{
  text-align: center;
  justify-content: center;
  
}