@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
body{
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column */;
  align-items: center;
  justify-content: center;
  color: white;
}
nav{
  position: fixed;
  font-size: 12px;

  margin: 1px;
}
form h4{
  font-size: 14px;
  width: 100%;
  text-align: center;
  align-items: center;
}
form {
  box-shadow: #5f917e 0px 8px 24px;
  border-radius: 1rem;
  padding: 2rem;
}
form input{
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
form button{
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: transparent;
  color: #fff;
}

.container{
  /* text-align: center;
  justify-content: center; */
}
.container img{
  width: 300px;
  border-radius: 5px;
  
}

.gradiente{
  background-image: linear-gradient(to right, rgb(219, 247, 65), rgb(7, 163, 111), rgb(5, 95, 168));
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  font-family: 'Special Elite', cursive;
  font-weight: 800;
  text-align: center;
  justify-content: center;
}
.filmes{
  text-align: center;
  justify-content: center;
  box-shadow: #b4d4c8 0px 8px 24px;
  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem;
  margin-left: 15rem;
  display: flex;
}
h3{
  text-align: center;
  justify-content: center;
}
.sinopse{
  margin-top: 4rem;
  font-size: 12px;
  text-align: justify;
  margin-left: 2rem;

}